.image{
    height: 500px;
    width:300px;
    border:2px solid black;
}
.image:hover{
    transform: scale(1.1);
    border-radius: 20px;
}

.size{
    margin: 10px;
}

.head{
    text-align: center;
}

.para{
    text-align: justify;
    padding: 5px;
}

.text{
    text-align: center;
}
.card{
    margin:100px 10px 30px 60px;
    display: inline-block;
  
}

.more{
    height:33px;
    width:120px;
    background-color: orangered;
    border-radius: 30px;
    margin: 30px 20px 10px 80px;
    text-align: center;
}

.amount{
    margin: 10px 20px 10px 80px;
}